<!DOCTYPE html>
<html>
  <head>
    <title>home</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="./js/json2.js"></script>
	<link rel="stylesheet" type="text/css" href="jquery-mobile/jquery.mobile-1.3.2.css">
　 	<script type="text/javascript" src="jquery-mobile/jquery-1.7.1.js"></script>
	<script type="text/javascript">	
		$(document).bind("mobileinit", function(){
			$.mobile.transitionFallbacks.slideout = "none";
			$.mobile.loadingMessage = '页面载入中';
			$.mobile.pageLoadErrorMessage = '页面载入失败';			
		});		
	</script>
　 	<script type="text/javascript" src="jquery-mobile/jquery.mobile-1.3.2.js"></script>
	<style type="text/css">
		.aBtnStyle{
			margin: 2px 2px  2px 2px;
		}
	</style>
	
	<script type="text/javascript" src="./js/utils.js"></script>
  </head>
  <body>
  
   <div data-role="page" id="reportview_ireport_temp">    		
   		<div data-role="header" data-theme="b" >
   			<h1 align="center"> Ireport View </h1>
   		</div>
   		<div data-role="content" data-theme="b">
     		<span id="reportview_ireport_temp_content"></span>
   		</div> <!--  end content -->
   		
		<div data-role="footer" id="footer" class="ui-bar"  data-theme="b" data-position="fixed" >
            <p align="center">
             &copy; 2014 - 2018 
            </p>
        </div> <!--  end footer -->

   	</div> <!-- end page -->
   
  </body>
</html>
