<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.WzgdShoulywnrMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.WzgdShoulywnr" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="YONGHBM" property="yonghbm" jdbcType="VARCHAR" />
    <result column="YONGHXM" property="yonghxm" jdbcType="VARCHAR" />
    <result column="YIDDH" property="yiddh" jdbcType="VARCHAR" />
    <result column="CHANPGM" property="chanpgm" jdbcType="VARCHAR" />
    <result column="KAISRQ" property="kaisrq" jdbcType="TIMESTAMP" />
    <result column="JIESRQ" property="jiesrq" jdbcType="TIMESTAMP" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDWHO" property="addwho" jdbcType="VARCHAR" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
    <result column="EDITTIME" property="edittime" jdbcType="TIMESTAMP" />
    <result column="EDITWHO" property="editwho" jdbcType="VARCHAR" />
    <result column="EDITIP" property="editip" jdbcType="VARCHAR" />
    <result column="ISDISPLAY" property="isdisplay" jdbcType="VARCHAR" />
    <result column="CHULZT" property="chulzt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.yonghbm != null" >
         and YONGHBM = #{condition.yonghbm,jdbcType=VARCHAR}
      </if>
      <if test="condition.chanpgm != null" >
         and CHANPGM = #{condition.chanpgm,jdbcType=VARCHAR}
      </if>
      <if test="condition.kaisrq != null" >
         and KAISRQ = #{condition.kaisrq,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.jiesrq != null" >
         and JIESRQ = #{condition.jiesrq,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addwho != null" >
         and ADDWHO = #{condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="condition.edittime != null" >
         and EDITTIME = #{condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.editwho != null" >
         and EDITWHO = #{condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.editip != null" >
         and EDITIP = #{condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="condition.isdisplay != null" >
         and ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="condition.chulzt != null" >
         and CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.yonghbm != null" >
         and YONGHBM = #{example.condition.yonghbm,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.chanpgm != null" >
         and CHANPGM = #{example.condition.chanpgm,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.kaisrq != null" >
         and KAISRQ = #{example.condition.kaisrq,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.jiesrq != null" >
         and JIESRQ = #{example.condition.jiesrq,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addwho != null" >
         and ADDWHO = #{example.condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.edittime != null" >
         and EDITTIME = #{example.condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.editwho != null" >
         and EDITWHO = #{example.condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.editip != null" >
         and EDITIP = #{example.condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isdisplay != null" >
         and ISDISPLAY = #{example.condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.chulzt != null" >
         and CHULZT = #{example.condition.chulzt,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, YONGHBM, CHANPGM, KAISRQ, JIESRQ, ADDTIME, ADDWHO, ADDIP, EDITTIME, EDITWHO, 
    EDITIP, ISDISPLAY, CHULZT
  </sql>
  
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*)
	from WZGD_SHOULYWNR a 
	left join WZGD_KEHJBXX b on A.YONGHBM=B.YONGHBM
	where 1=1 
	<if test="condition.yonghbm != null" >
       and a.YONGHBM = #{condition.yonghbm,jdbcType=VARCHAR}
    </if>
    <if test="condition.yonghxm != null" >
    	<![CDATA[ and b.YONGHXM LIKE '%'||#{condition.yonghxm}||'%' ]]>
    </if>
    <if test="condition.chanpgm != null" >
       and a.CHANPGM = #{condition.chanpgm,jdbcType=VARCHAR}
    </if>
    <if test="condition.kaisrq != null" >
       and to_char(a.KAISRQ,'yyyy-MM-dd') = #{condition.kaisrq,jdbcType=VARCHAR}
    </if>
    <if test="condition.jiesrq != null" >
       and to_char(a.JIESRQ,'yyyy-MM-dd') = #{condition.jiesrq,jdbcType=VARCHAR}
    </if>    
    <if test="condition.isdisplay != null" >
       and a.ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
    </if>
    <if test="condition.chulzt != null" >
       and a.CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    a.ID, a.YONGHBM,B.YONGHXM ,B.YIDDH ,a.CHANPGM, a.KAISRQ, a.JIESRQ, a.ADDTIME, a.ADDWHO, a.ADDIP, a.EDITTIME, a.EDITWHO, a.EDITIP, a.ISDISPLAY, a.CHULZT
    from WZGD_SHOULYWNR a 
	left join WZGD_KEHJBXX b on A.YONGHBM=B.YONGHBM
	where 1=1
    <if test="condition.yonghbm != null" >
       and a.YONGHBM = #{condition.yonghbm,jdbcType=VARCHAR}
    </if>
    <if test="condition.yonghxm != null" >
    	<![CDATA[ and b.YONGHXM LIKE '%'||#{condition.yonghxm}||'%' ]]>
    </if>
    <if test="condition.chanpgm != null" >
       and a.CHANPGM = #{condition.chanpgm,jdbcType=VARCHAR}
    </if>
    <if test="condition.kaisrq != null" >
       and to_char(a.KAISRQ,'yyyy-MM-dd') = #{condition.kaisrq,jdbcType=VARCHAR}
    </if>
    <if test="condition.jiesrq != null" >
       and to_char(a.JIESRQ,'yyyy-MM-dd') = #{condition.jiesrq,jdbcType=VARCHAR}
    </if>    
    <if test="condition.isdisplay != null" >
       and a.ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
    </if>
    <if test="condition.chulzt != null" >
       and a.CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WZGD_SHOULYWNR
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WZGD_SHOULYWNR
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from WZGD_SHOULYWNR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.WzgdShoulywnr" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WZGD_SHOULYWNR (ID, YONGHBM, CHANPGM, 
      KAISRQ, JIESRQ, ADDTIME, ADDWHO, 
      ADDIP, EDITTIME, EDITWHO, 
      EDITIP, ISDISPLAY, CHULZT
      )
    values (#{id,jdbcType=VARCHAR}, #{yonghbm,jdbcType=VARCHAR}, #{chanpgm,jdbcType=VARCHAR}, 
      #{kaisrq,jdbcType=TIMESTAMP}, #{jiesrq,jdbcType=TIMESTAMP}, #{addtime,jdbcType=TIMESTAMP}, #{addwho,jdbcType=VARCHAR}, 
      #{addip,jdbcType=VARCHAR}, #{edittime,jdbcType=TIMESTAMP}, #{editwho,jdbcType=VARCHAR}, 
      #{editip,jdbcType=VARCHAR}, #{isdisplay,jdbcType=VARCHAR}, #{chulzt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.WzgdShoulywnr" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WZGD_SHOULYWNR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="yonghbm != null" >
        YONGHBM,
      </if>
      <if test="chanpgm != null" >
        CHANPGM,
      </if>
      <if test="kaisrq != null" >
        KAISRQ,
      </if>
      <if test="jiesrq != null" >
        JIESRQ,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addwho != null" >
        ADDWHO,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
      <if test="edittime != null" >
        EDITTIME,
      </if>
      <if test="editwho != null" >
        EDITWHO,
      </if>
      <if test="editip != null" >
        EDITIP,
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY,
      </if>
      <if test="chulzt != null" >
        CHULZT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="yonghbm != null" >
        #{yonghbm,jdbcType=VARCHAR},
      </if>
      <if test="chanpgm != null" >
        #{chanpgm,jdbcType=VARCHAR},
      </if>
      <if test="kaisrq != null" >
        #{kaisrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jiesrq != null" >
        #{jiesrq,jdbcType=TIMESTAMP},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        #{chulzt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update WZGD_SHOULYWNR
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.yonghbm != null" >
        YONGHBM = #{record.yonghbm,jdbcType=VARCHAR},
      </if>
      <if test="record.chanpgm != null" >
        CHANPGM = #{record.chanpgm,jdbcType=VARCHAR},
      </if>
      <if test="record.kaisrq != null" >
        KAISRQ = #{record.kaisrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jiesrq != null" >
        JIESRQ = #{record.jiesrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addwho != null" >
        ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.edittime != null" >
        EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editwho != null" >
        EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      </if>
      <if test="record.editip != null" >
        EDITIP = #{record.editip,jdbcType=VARCHAR},
      </if>
      <if test="record.isdisplay != null" >
        ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.chulzt != null" >
        CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WZGD_SHOULYWNR
    set ID = #{record.id,jdbcType=VARCHAR},
      YONGHBM = #{record.yonghbm,jdbcType=VARCHAR},
      CHANPGM = #{record.chanpgm,jdbcType=VARCHAR},
      KAISRQ = #{record.kaisrq,jdbcType=TIMESTAMP},
      JIESRQ = #{record.jiesrq,jdbcType=TIMESTAMP},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      ADDIP = #{record.addip,jdbcType=VARCHAR},
      EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      EDITIP = #{record.editip,jdbcType=VARCHAR},
      ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      CHULZT = #{record.chulzt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.WzgdShoulywnr" >
    update WZGD_SHOULYWNR
    <set >
      <if test="yonghbm != null" >
        YONGHBM = #{yonghbm,jdbcType=VARCHAR},
      </if>
      <if test="chanpgm != null" >
        CHANPGM = #{chanpgm,jdbcType=VARCHAR},
      </if>
      <if test="kaisrq != null" >
        KAISRQ = #{kaisrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jiesrq != null" >
        JIESRQ = #{jiesrq,jdbcType=TIMESTAMP},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        ADDWHO = #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        EDITWHO = #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        EDITIP = #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        CHULZT = #{chulzt,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.WzgdShoulywnr" >
    update WZGD_SHOULYWNR
    set YONGHBM = #{yonghbm,jdbcType=VARCHAR},
      CHANPGM = #{chanpgm,jdbcType=VARCHAR},
      KAISRQ = #{kaisrq,jdbcType=TIMESTAMP},
      JIESRQ = #{jiesrq,jdbcType=TIMESTAMP},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{addwho,jdbcType=VARCHAR},
      ADDIP = #{addip,jdbcType=VARCHAR},
      EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{editwho,jdbcType=VARCHAR},
      EDITIP = #{editip,jdbcType=VARCHAR},
      ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      CHULZT = #{chulzt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>