<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.BaseUsersWeixinMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.BaseUsersWeixin" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="WEIXINID" property="weixinid" jdbcType="VARCHAR" />
    <result column="ISDISPLAY" property="isdisplay" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.userId != null" >
         and USER_ID = #{condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="condition.weixinid != null" >
         and WEIXINID = #{condition.weixinid,jdbcType=VARCHAR}
      </if>
      <if test="condition.isdisplay != null" >
         and ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.userId != null" >
         and USER_ID = #{example.condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.weixinid != null" >
         and WEIXINID = #{example.condition.weixinid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isdisplay != null" >
         and ISDISPLAY = #{example.condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_ID, WEIXINID, ISDISPLAY, ADDTIME, ADDIP
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE_USERS_WEIXIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BASE_USERS_WEIXIN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from BASE_USERS_WEIXIN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from BASE_USERS_WEIXIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.BaseUsersWeixin" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into BASE_USERS_WEIXIN (ID, USER_ID, WEIXINID, 
      ISDISPLAY, ADDTIME, ADDIP
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{weixinid,jdbcType=VARCHAR}, 
      #{isdisplay,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{addip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.BaseUsersWeixin" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into BASE_USERS_WEIXIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="weixinid != null" >
        WEIXINID,
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="weixinid != null" >
        #{weixinid,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from BASE_USERS_WEIXIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BASE_USERS_WEIXIN
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.weixinid != null" >
        WEIXINID = #{record.weixinid,jdbcType=VARCHAR},
      </if>
      <if test="record.isdisplay != null" >
        ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BASE_USERS_WEIXIN
    set ID = #{record.id,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      WEIXINID = #{record.weixinid,jdbcType=VARCHAR},
      ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDIP = #{record.addip,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.BaseUsersWeixin" >
    update BASE_USERS_WEIXIN
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="weixinid != null" >
        WEIXINID = #{weixinid,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.BaseUsersWeixin" >
    update BASE_USERS_WEIXIN
    set USER_ID = #{userId,jdbcType=VARCHAR},
      WEIXINID = #{weixinid,jdbcType=VARCHAR},
      ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDIP = #{addip,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>