<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.WzsjjSmsreturnMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.WzsjjSmsreturn" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MSG_ID" property="msgId" jdbcType="VARCHAR" />
    <result column="SRCMSGR" property="srcmsgr" jdbcType="VARCHAR" />
    <result column="DESTMSGR" property="destmsgr" jdbcType="VARCHAR" />
    <result column="MSG" property="msg" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDWHO" property="addwho" jdbcType="VARCHAR" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
    <result column="ISDISPLAY" property="isdisplay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.msgId != null" >
         and MSG_ID = #{condition.msgId,jdbcType=VARCHAR}
      </if>
      <if test="condition.srcmsgr != null" >
         and SRCMSGR = #{condition.srcmsgr,jdbcType=VARCHAR}
      </if>
      <if test="condition.destmsgr != null" >
         and DESTMSGR = #{condition.destmsgr,jdbcType=VARCHAR}
      </if>
      <if test="condition.msg != null" >
         and MSG = #{condition.msg,jdbcType=VARCHAR}
      </if>
      <if test="condition.time != null" >
         and TIME = #{condition.time,jdbcType=VARCHAR}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addwho != null" >
         and ADDWHO = #{condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="condition.isdisplay != null" >
         and ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.msgId != null" >
         and MSG_ID = #{example.condition.msgId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.srcmsgr != null" >
         and SRCMSGR = #{example.condition.srcmsgr,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.destmsgr != null" >
         and DESTMSGR = #{example.condition.destmsgr,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.msg != null" >
         and MSG = #{example.condition.msg,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.time != null" >
         and TIME = #{example.condition.time,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addwho != null" >
         and ADDWHO = #{example.condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isdisplay != null" >
         and ISDISPLAY = #{example.condition.isdisplay,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, MSG_ID, SRCMSGR, DESTMSGR, MSG, TIME, ADDTIME, ADDWHO, ADDIP, ISDISPLAY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WZSJJ_SMSRETURN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WZSJJ_SMSRETURN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WZSJJ_SMSRETURN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from WZSJJ_SMSRETURN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.WzsjjSmsreturn" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WZSJJ_SMSRETURN (ID, MSG_ID, SRCMSGR, 
      DESTMSGR, MSG, TIME, 
      ADDTIME, ADDWHO, ADDIP, 
      ISDISPLAY)
    values (#{id,jdbcType=VARCHAR}, #{msgId,jdbcType=VARCHAR}, #{srcmsgr,jdbcType=VARCHAR}, 
      #{destmsgr,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{addwho,jdbcType=VARCHAR}, #{addip,jdbcType=VARCHAR}, 
      #{isdisplay,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.WzsjjSmsreturn" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WZSJJ_SMSRETURN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="srcmsgr != null" >
        SRCMSGR,
      </if>
      <if test="destmsgr != null" >
        DESTMSGR,
      </if>
      <if test="msg != null" >
        MSG,
      </if>
      <if test="time != null" >
        TIME,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addwho != null" >
        ADDWHO,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="srcmsgr != null" >
        #{srcmsgr,jdbcType=VARCHAR},
      </if>
      <if test="destmsgr != null" >
        #{destmsgr,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        #{isdisplay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from WZSJJ_SMSRETURN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WZSJJ_SMSRETURN
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.msgId != null" >
        MSG_ID = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.srcmsgr != null" >
        SRCMSGR = #{record.srcmsgr,jdbcType=VARCHAR},
      </if>
      <if test="record.destmsgr != null" >
        DESTMSGR = #{record.destmsgr,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null" >
        MSG = #{record.msg,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        TIME = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addwho != null" >
        ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.isdisplay != null" >
        ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WZSJJ_SMSRETURN
    set ID = #{record.id,jdbcType=VARCHAR},
      MSG_ID = #{record.msgId,jdbcType=VARCHAR},
      SRCMSGR = #{record.srcmsgr,jdbcType=VARCHAR},
      DESTMSGR = #{record.destmsgr,jdbcType=VARCHAR},
      MSG = #{record.msg,jdbcType=VARCHAR},
      TIME = #{record.time,jdbcType=VARCHAR},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      ADDIP = #{record.addip,jdbcType=VARCHAR},
      ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.WzsjjSmsreturn" >
    update WZSJJ_SMSRETURN
    <set >
      <if test="msgId != null" >
        MSG_ID = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="srcmsgr != null" >
        SRCMSGR = #{srcmsgr,jdbcType=VARCHAR},
      </if>
      <if test="destmsgr != null" >
        DESTMSGR = #{destmsgr,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        MSG = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        ADDWHO = #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.WzsjjSmsreturn" >
    update WZSJJ_SMSRETURN
    set MSG_ID = #{msgId,jdbcType=VARCHAR},
      SRCMSGR = #{srcmsgr,jdbcType=VARCHAR},
      DESTMSGR = #{destmsgr,jdbcType=VARCHAR},
      MSG = #{msg,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{addwho,jdbcType=VARCHAR},
      ADDIP = #{addip,jdbcType=VARCHAR},
      ISDISPLAY = #{isdisplay,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>