<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.WzsjjcarpeccancyMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.Wzsjjcarpeccancy" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TONGZSBH" property="tongzsbh" jdbcType="VARCHAR" />
    <result column="WEIFXX" property="weifxx" jdbcType="VARCHAR" />
    <result column="FAKJE" property="fakje" jdbcType="DECIMAL" />
    <result column="CHELBM" property="chelbm" jdbcType="VARCHAR" />
    <result column="CHEP" property="chep" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDWHO" property="addwho" jdbcType="VARCHAR" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
    <result column="EDITTIME" property="edittime" jdbcType="TIMESTAMP" />
    <result column="EDITWHO" property="editwho" jdbcType="VARCHAR" />
    <result column="EDITIP" property="editip" jdbcType="VARCHAR" />
    <result column="CHULZT" property="chulzt" jdbcType="VARCHAR" />
    <result column="SUOYR" property="suoyr" jdbcType="VARCHAR" />
    <result column="LIANXFS" property="lianxfs" jdbcType="VARCHAR" />
    <result column="SHENFZH" property="shenfzh" jdbcType="VARCHAR" />
    <result column="FROMID" property="fromid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.tongzsbh != null" >
         and TONGZSBH = #{condition.tongzsbh,jdbcType=VARCHAR}
      </if>
      <if test="condition.weifxx != null" >
         and WEIFXX = #{condition.weifxx,jdbcType=VARCHAR}
      </if>
      <if test="condition.fakje != null" >
         and FAKJE = #{condition.fakje,jdbcType=DECIMAL}
      </if>
      <if test="condition.chelbm != null" >
         and CHELBM = #{condition.chelbm,jdbcType=VARCHAR}
      </if>
      <if test="condition.chep != null" >
         and CHEP = #{condition.chep,jdbcType=VARCHAR}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addwho != null" >
         and ADDWHO = #{condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="condition.edittime != null" >
         and EDITTIME = #{condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.editwho != null" >
         and EDITWHO = #{condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.editip != null" >
         and EDITIP = #{condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="condition.chulzt != null" >
         and CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
      </if>
      <if test="condition.suoyr != null" >
         and SUOYR = #{condition.suoyr,jdbcType=VARCHAR}
      </if>
      <if test="condition.lianxfs != null" >
         and LIANXFS = #{condition.lianxfs,jdbcType=VARCHAR}
      </if>
      <if test="condition.shenfzh != null" >
         and SHENFZH = #{condition.shenfzh,jdbcType=VARCHAR}
      </if>
      <if test="condition.fromid != null" >
         and FROMID = #{condition.fromid,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.tongzsbh != null" >
         and TONGZSBH = #{example.condition.tongzsbh,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.weifxx != null" >
         and WEIFXX = #{example.condition.weifxx,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.fakje != null" >
         and FAKJE = #{example.condition.fakje,jdbcType=DECIMAL}
      </if>
      <if test="example.condition.chelbm != null" >
         and CHELBM = #{example.condition.chelbm,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addwho != null" >
         and ADDWHO = #{example.condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.edittime != null" >
         and EDITTIME = #{example.condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.editwho != null" >
         and EDITWHO = #{example.condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.editip != null" >
         and EDITIP = #{example.condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.chulzt != null" >
         and CHULZT = #{example.condition.chulzt,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.suoyr != null" >
         and SUOYR = #{example.condition.suoyr,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.lianxfs != null" >
         and LIANXFS = #{example.condition.lianxfs,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.shenfzh != null" >
         and SHENFZH = #{example.condition.shenfzh,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.fromid != null" >
         and FROMID = #{example.condition.fromid,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, TONGZSBH, WEIFXX, FAKJE, CHELBM,  ADDTIME, ADDWHO, ADDIP, EDITTIME, EDITWHO, EDITIP, 
    CHULZT , SUOYR , LIANXFS, SHENFZH, FROMID
  </sql>
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) 
    from WZSJJ_CARPECCANCY a
    left join WZSJJ_CARREGISTER b on a.CHELBM = b.chelsbm  
    where 1=1
    <if test="condition.userid != null" >
         and b.USERID = #{condition.userid,jdbcType=VARCHAR}
    </if>
    <if test="condition.tongzsbh != null" >
         and a.TONGZSBH = #{condition.tongzsbh,jdbcType=VARCHAR}
    </if>
    <if test="condition.chelbm != null" >
         and a.CHELBM = #{condition.chelbm,jdbcType=VARCHAR}
    </if>
    <if test="condition.chep != null" >
         and b.CHEP = #{condition.chep,jdbcType=VARCHAR}
    </if>
    <if test="condition.weifxx != null" >
         <![CDATA[ and a.WEIFXX LIKE '%'||#{condition.weifxx}||'%' ]]>
    </if>
    <if test="condition.fakje != null" >
       and a.FAKJE = #{condition.fakje,jdbcType=VARCHAR}
    </if>
    <if test="condition.chulzt != null" >
       and a.CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
    </if>
    <if test="condition.chepLike != null" >
       <![CDATA[ and b.CHEP LIKE '%'||#{condition.chepLike}||'%' ]]>
    </if>
    <if test="condition.suoyr != null" >
       and a.SUOYR = #{condition.suoyr,jdbcType=VARCHAR}
    </if>
    <if test="condition.lianxfs != null" >
       and a.LIANXFS = #{condition.lianxfs,jdbcType=VARCHAR}
    </if>
    <if test="condition.shenfzh != null" >
       and a.SHENFZH = #{condition.shenfzh,jdbcType=VARCHAR}
    </if>
    <if test="condition.fromid != null" >
       and a.FROMID = #{condition.fromid,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    a.ID, a.TONGZSBH, a.WEIFXX, a.FAKJE, a.CHELBM, b.CHEP, 
    a.ADDTIME, a.ADDWHO, a.ADDIP, a.EDITTIME, a.EDITWHO, a.EDITIP, a.CHULZT, a.SUOYR, a.LIANXFS,A.SHENFZH,A.FROMID    
    from WZSJJ_CARPECCANCY a
    left join WZSJJ_CARREGISTER b on a.CHELBM = b.chelsbm  
    where 1=1 
    <if test="condition.userid != null" >
         and b.USERID = #{condition.userid,jdbcType=VARCHAR}
    </if>
    <if test="condition.tongzsbh != null" >
         and a.TONGZSBH = #{condition.tongzsbh,jdbcType=VARCHAR}
    </if>
    <if test="condition.chelbm != null" >
         and a.CHELBM = #{condition.chelbm,jdbcType=VARCHAR}
    </if>
    <if test="condition.chep != null" >
         and b.CHEP = #{condition.chep,jdbcType=VARCHAR}
    </if>
    <if test="condition.weifxx != null" >
         <![CDATA[ and a.WEIFXX LIKE '%'||#{condition.weifxx}||'%' ]]>
    </if>
    <if test="condition.fakje != null" >
       and a.FAKJE = #{condition.fakje,jdbcType=VARCHAR}
    </if>
    <if test="condition.chulzt != null" >
       and a.CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
    </if>
    <if test="condition.chepLike != null" >
       <![CDATA[ and b.CHEP LIKE '%'||#{condition.chepLike}||'%' ]]>
    </if>
    <if test="condition.suoyr != null" >
       and a.SUOYR = #{condition.suoyr,jdbcType=VARCHAR}
    </if>
    <if test="condition.lianxfs != null" >
       and a.LIANXFS = #{condition.lianxfs,jdbcType=VARCHAR}
    </if>
    <if test="condition.shenfzh != null" >
       and a.SHENFZH = #{condition.shenfzh,jdbcType=VARCHAR}
    </if>
    <if test="condition.fromid != null" >
       and a.FROMID = #{condition.fromid,jdbcType=VARCHAR}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WZSJJ_CARPECCANCY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WZSJJ_CARPECCANCY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from WZSJJ_CARPECCANCY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.Wzsjjcarpeccancy" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WZSJJ_CARPECCANCY (ID, TONGZSBH, WEIFXX, 
      FAKJE, CHELBM, ADDTIME, 
      ADDWHO, ADDIP, EDITTIME, 
      EDITWHO, EDITIP, CHULZT,SUOYR,LIANXFS,SHENFZH,FROMID
      )
    values (#{id,jdbcType=VARCHAR}, #{tongzsbh,jdbcType=VARCHAR}, #{weifxx,jdbcType=VARCHAR}, 
      #{fakje,jdbcType=DECIMAL}, #{chelbm,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{addwho,jdbcType=VARCHAR}, #{addip,jdbcType=VARCHAR}, #{edittime,jdbcType=TIMESTAMP}, 
      #{editwho,jdbcType=VARCHAR}, #{editip,jdbcType=VARCHAR}, #{chulzt,jdbcType=VARCHAR}, 
      #{suoyr,jdbcType=VARCHAR}, #{lianxfs,jdbcType=VARCHAR}, #{shenfzh,jdbcType=VARCHAR}, #{fromid,jdbcType=VARCHAR}
      
      )
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.Wzsjjcarpeccancy" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WZSJJ_CARPECCANCY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="tongzsbh != null" >
        TONGZSBH,
      </if>
      <if test="weifxx != null" >
        WEIFXX,
      </if>
      <if test="fakje != null" >
        FAKJE,
      </if>
      <if test="chelbm != null" >
        CHELBM,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addwho != null" >
        ADDWHO,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
      <if test="edittime != null" >
        EDITTIME,
      </if>
      <if test="editwho != null" >
        EDITWHO,
      </if>
      <if test="editip != null" >
        EDITIP,
      </if>
      <if test="chulzt != null" >
        CHULZT,
      </if>
      <if test="suoyr != null" >
        SUOYR,
      </if>
      <if test="lianxfs != null" >
        LIANXFS,
      </if>
      <if test="shenfzh != null" >
        SHENFZH,
      </if>
      <if test="fromid != null" >
        FROMID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="tongzsbh != null" >
        #{tongzsbh,jdbcType=VARCHAR},
      </if>
      <if test="weifxx != null" >
        #{weifxx,jdbcType=VARCHAR},
      </if>
      <if test="fakje != null" >
        #{fakje,jdbcType=DECIMAL},
      </if>
      <if test="chelbm != null" >
        #{chelbm,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        #{editip,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        #{chulzt,jdbcType=VARCHAR},
      </if>
      <if test="suoyr != null" >
        #{suoyr,jdbcType=VARCHAR},
      </if>
      <if test="lianxfs != null" >
        #{lianxfs,jdbcType=VARCHAR},
      </if>
      <if test="shenfzh != null" >
        #{shenfzh,jdbcType=VARCHAR},
      </if>
      <if test="fromid != null" >
        #{fromid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update WZSJJ_CARPECCANCY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.tongzsbh != null" >
        TONGZSBH = #{record.tongzsbh,jdbcType=VARCHAR},
      </if>
      <if test="record.weifxx != null" >
        WEIFXX = #{record.weifxx,jdbcType=VARCHAR},
      </if>
      <if test="record.fakje != null" >
        FAKJE = #{record.fakje,jdbcType=DECIMAL},
      </if>
      <if test="record.chelbm != null" >
        CHELBM = #{record.chelbm,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addwho != null" >
        ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.edittime != null" >
        EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editwho != null" >
        EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      </if>
      <if test="record.editip != null" >
        EDITIP = #{record.editip,jdbcType=VARCHAR},
      </if>
      <if test="record.chulzt != null" >
        CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      </if>
      <if test="record.suoyr != null" >
        SUOYR = #{record.chulzt,jdbcType=VARCHAR},
      </if>
      <if test="record.lianxfs != null" >
        LIANXFS = #{record.lianxfs,jdbcType=VARCHAR},
      </if>
      <if test="record.shenfzh != null" >
        SHENFZH = #{record.shenfzh,jdbcType=VARCHAR},
      </if>
      <if test="record.fromid != null" >
        FROMID = #{record.fromid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WZSJJ_CARPECCANCY
    set ID = #{record.id,jdbcType=VARCHAR},
      TONGZSBH = #{record.tongzsbh,jdbcType=VARCHAR},
      WEIFXX = #{record.weifxx,jdbcType=VARCHAR},
      FAKJE = #{record.fakje,jdbcType=DECIMAL},
      CHELBM = #{record.chelbm,jdbcType=VARCHAR},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      ADDIP = #{record.addip,jdbcType=VARCHAR},
      EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      EDITIP = #{record.editip,jdbcType=VARCHAR},
      CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      SUOYR = #{record.suoyr,jdbcType=VARCHAR},
      LIANXFS = #{record.lianxfs,jdbcType=VARCHAR},
      SHENFZH = #{record.shenfzh,jdbcType=VARCHAR},
      FROMID = #{record.fromid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.Wzsjjcarpeccancy" >
    update WZSJJ_CARPECCANCY
    <set >
      <if test="tongzsbh != null" >
        TONGZSBH = #{tongzsbh,jdbcType=VARCHAR},
      </if>
      <if test="weifxx != null" >
        WEIFXX = #{weifxx,jdbcType=VARCHAR},
      </if>
      <if test="fakje != null" >
        FAKJE = #{fakje,jdbcType=DECIMAL},
      </if>
      <if test="chelbm != null" >
        CHELBM = #{chelbm,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        ADDWHO = #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        EDITWHO = #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        EDITIP = #{editip,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        CHULZT = #{chulzt,jdbcType=VARCHAR},
      </if>
      <if test="suoyr != null" >
        SUOYR = #{suoyr,jdbcType=VARCHAR},
      </if>
      <if test="lianxfs != null" >
        LIANXFS = #{lianxfs,jdbcType=VARCHAR},
      </if>
      <if test="shenfzh != null" >
         SHENFZH = #{shenfzh,jdbcType=VARCHAR},
      </if>
      <if test="fromid != null" >
         FROMID = #{fromid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.Wzsjjcarpeccancy" >
    update WZSJJ_CARPECCANCY
    set TONGZSBH = #{tongzsbh,jdbcType=VARCHAR},
      WEIFXX = #{weifxx,jdbcType=VARCHAR},
      FAKJE = #{fakje,jdbcType=DECIMAL},
      CHELBM = #{chelbm,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{addwho,jdbcType=VARCHAR},
      ADDIP = #{addip,jdbcType=VARCHAR},
      EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{editwho,jdbcType=VARCHAR},
      EDITIP = #{editip,jdbcType=VARCHAR},
      CHULZT = #{chulzt,jdbcType=VARCHAR},
      SUOYR = #{suoyr,jdbcType=VARCHAR},
      LIANXFS = #{lianxfs,jdbcType=VARCHAR},
      SHENFZH = #{shenfzh,jdbcType=VARCHAR},
      FROMID = #{fromid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>