<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.YqgdRequestdataMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.YqgdRequestdata" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="OPENBANK" property="openbank" jdbcType="VARCHAR" />
    <result column="CARDTYPE" property="cardtype" jdbcType="VARCHAR" />
    <result column="CARDNO" property="cardno" jdbcType="VARCHAR" />
    <result column="USRNAME" property="usrname" jdbcType="VARCHAR" />
    <result column="CERTTYPE" property="certtype" jdbcType="VARCHAR" />
    <result column="CERTID" property="certid" jdbcType="VARCHAR" />
    <result column="TRANSAMT" property="transamt" jdbcType="VARCHAR" />
    <result column="PURPOSE" property="purpose" jdbcType="VARCHAR" />
    <result column="CHULZT" property="chulzt" jdbcType="VARCHAR" />
    <result column="RESPONSECODE" property="responsecode" jdbcType="VARCHAR" />
    <result column="TRANSSTAT" property="transstat" jdbcType="VARCHAR" />
    <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDWHO" property="addwho" jdbcType="VARCHAR" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
    <result column="EDITTIME" property="edittime" jdbcType="TIMESTAMP" />
    <result column="EDITWHO" property="editwho" jdbcType="VARCHAR" />
    <result column="EDITIP" property="editip" jdbcType="VARCHAR" />
    <result column="ISDISPLAY" property="isdisplay" jdbcType="VARCHAR" />
    <result column="MOBILEPHONE" property="mobilephone" jdbcType="VARCHAR" />
    <result column="BATCHNUMBER" property="batchnumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.openbank != null" >
         and OPENBANK = #{condition.openbank,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardtype != null" >
         and CARDTYPE = #{condition.cardtype,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardno != null" >
         and CARDNO = #{condition.cardno,jdbcType=VARCHAR}
      </if>
      <if test="condition.usrname != null" >
         and USRNAME = #{condition.usrname,jdbcType=VARCHAR}
      </if>
      <if test="condition.certtype != null" >
         and CERTTYPE = #{condition.certtype,jdbcType=VARCHAR}
      </if>
      <if test="condition.certid != null" >
         and CERTID = #{condition.certid,jdbcType=VARCHAR}
      </if>
      <if test="condition.transamt != null" >
         and TRANSAMT = #{condition.transamt,jdbcType=VARCHAR}
      </if>
      <if test="condition.purpose != null" >
         and PURPOSE = #{condition.purpose,jdbcType=VARCHAR}
      </if>
      <if test="condition.chulzt != null" >
         and CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
      </if>
      <if test="condition.responsecode != null" >
         and RESPONSECODE = #{condition.responsecode,jdbcType=VARCHAR}
      </if>
      <if test="condition.transstat != null" >
         and TRANSSTAT = #{condition.transstat,jdbcType=VARCHAR}
      </if>
      <if test="condition.message != null" >
         and MESSAGE = #{condition.message,jdbcType=VARCHAR}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addwho != null" >
         and ADDWHO = #{condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="condition.edittime != null" >
         and EDITTIME = #{condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.editwho != null" >
         and EDITWHO = #{condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.editip != null" >
         and EDITIP = #{condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="condition.isdisplay != null" >
         and ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="condition.mobilephone != null" >
         and MOBILEPHONE = #{condition.mobilephone,jdbcType=VARCHAR}
      </if>
      <if test="condition.batchnumber != null" >
         and BATCHNUMBER = #{condition.batchnumber,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.openbank != null" >
         and OPENBANK = #{example.condition.openbank,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cardtype != null" >
         and CARDTYPE = #{example.condition.cardtype,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cardno != null" >
         and CARDNO = #{example.condition.cardno,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.usrname != null" >
         and USRNAME = #{example.condition.usrname,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.certtype != null" >
         and CERTTYPE = #{example.condition.certtype,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.certid != null" >
         and CERTID = #{example.condition.certid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.transamt != null" >
         and TRANSAMT = #{example.condition.transamt,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.purpose != null" >
         and PURPOSE = #{example.condition.purpose,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.chulzt != null" >
         and CHULZT = #{example.condition.chulzt,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.responsecode != null" >
         and RESPONSECODE = #{example.condition.responsecode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.transstat != null" >
         and TRANSSTAT = #{example.condition.transstat,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.message != null" >
         and MESSAGE = #{example.condition.message,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addwho != null" >
         and ADDWHO = #{example.condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.edittime != null" >
         and EDITTIME = #{example.condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.editwho != null" >
         and EDITWHO = #{example.condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.editip != null" >
         and EDITIP = #{example.condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isdisplay != null" >
         and ISDISPLAY = #{example.condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.mobilephone != null" >
         and MOBILEPHONE = #{example.condition.mobilephone,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.batchnumber != null" >
         and BATCHNUMBER = #{example.condition.batchnumber,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, OPENBANK, CARDTYPE, CARDNO, USRNAME, CERTTYPE, CERTID, TRANSAMT, PURPOSE, CHULZT, 
    RESPONSECODE, TRANSSTAT, MESSAGE, ADDTIME, ADDWHO, ADDIP, EDITTIME, EDITWHO, EDITIP, 
    ISDISPLAY, MOBILEPHONE, BATCHNUMBER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from YQGD_REQUESTDATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from YQGD_REQUESTDATA
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from YQGD_REQUESTDATA
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from YQGD_REQUESTDATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.YqgdRequestdata" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into YQGD_REQUESTDATA (ID, OPENBANK, CARDTYPE, 
      CARDNO, USRNAME, CERTTYPE, 
      CERTID, TRANSAMT, PURPOSE, 
      CHULZT, RESPONSECODE, TRANSSTAT, 
      MESSAGE, ADDTIME, ADDWHO, 
      ADDIP, EDITTIME, EDITWHO, 
      EDITIP, ISDISPLAY, MOBILEPHONE, 
      BATCHNUMBER)
    values (#{id,jdbcType=VARCHAR}, #{openbank,jdbcType=VARCHAR}, #{cardtype,jdbcType=VARCHAR}, 
      #{cardno,jdbcType=VARCHAR}, #{usrname,jdbcType=VARCHAR}, #{certtype,jdbcType=VARCHAR}, 
      #{certid,jdbcType=VARCHAR}, #{transamt,jdbcType=VARCHAR}, #{purpose,jdbcType=VARCHAR}, 
      #{chulzt,jdbcType=VARCHAR}, #{responsecode,jdbcType=VARCHAR}, #{transstat,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{addwho,jdbcType=VARCHAR}, 
      #{addip,jdbcType=VARCHAR}, #{edittime,jdbcType=TIMESTAMP}, #{editwho,jdbcType=VARCHAR}, 
      #{editip,jdbcType=VARCHAR}, #{isdisplay,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{batchnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.YqgdRequestdata" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into YQGD_REQUESTDATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="openbank != null" >
        OPENBANK,
      </if>
      <if test="cardtype != null" >
        CARDTYPE,
      </if>
      <if test="cardno != null" >
        CARDNO,
      </if>
      <if test="usrname != null" >
        USRNAME,
      </if>
      <if test="certtype != null" >
        CERTTYPE,
      </if>
      <if test="certid != null" >
        CERTID,
      </if>
      <if test="transamt != null" >
        TRANSAMT,
      </if>
      <if test="purpose != null" >
        PURPOSE,
      </if>
      <if test="chulzt != null" >
        CHULZT,
      </if>
      <if test="responsecode != null" >
        RESPONSECODE,
      </if>
      <if test="transstat != null" >
        TRANSSTAT,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addwho != null" >
        ADDWHO,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
      <if test="edittime != null" >
        EDITTIME,
      </if>
      <if test="editwho != null" >
        EDITWHO,
      </if>
      <if test="editip != null" >
        EDITIP,
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY,
      </if>
      <if test="mobilephone != null" >
        MOBILEPHONE,
      </if>
      <if test="batchnumber != null" >
        BATCHNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="openbank != null" >
        #{openbank,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null" >
        #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="usrname != null" >
        #{usrname,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null" >
        #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certid != null" >
        #{certid,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null" >
        #{transamt,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        #{chulzt,jdbcType=VARCHAR},
      </if>
      <if test="responsecode != null" >
        #{responsecode,jdbcType=VARCHAR},
      </if>
      <if test="transstat != null" >
        #{transstat,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="batchnumber != null" >
        #{batchnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from YQGD_REQUESTDATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update YQGD_REQUESTDATA
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.openbank != null" >
        OPENBANK = #{record.openbank,jdbcType=VARCHAR},
      </if>
      <if test="record.cardtype != null" >
        CARDTYPE = #{record.cardtype,jdbcType=VARCHAR},
      </if>
      <if test="record.cardno != null" >
        CARDNO = #{record.cardno,jdbcType=VARCHAR},
      </if>
      <if test="record.usrname != null" >
        USRNAME = #{record.usrname,jdbcType=VARCHAR},
      </if>
      <if test="record.certtype != null" >
        CERTTYPE = #{record.certtype,jdbcType=VARCHAR},
      </if>
      <if test="record.certid != null" >
        CERTID = #{record.certid,jdbcType=VARCHAR},
      </if>
      <if test="record.transamt != null" >
        TRANSAMT = #{record.transamt,jdbcType=VARCHAR},
      </if>
      <if test="record.purpose != null" >
        PURPOSE = #{record.purpose,jdbcType=VARCHAR},
      </if>
      <if test="record.chulzt != null" >
        CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      </if>
      <if test="record.responsecode != null" >
        RESPONSECODE = #{record.responsecode,jdbcType=VARCHAR},
      </if>
      <if test="record.transstat != null" >
        TRANSSTAT = #{record.transstat,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        MESSAGE = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addwho != null" >
        ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.edittime != null" >
        EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editwho != null" >
        EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      </if>
      <if test="record.editip != null" >
        EDITIP = #{record.editip,jdbcType=VARCHAR},
      </if>
      <if test="record.isdisplay != null" >
        ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephone != null" >
        MOBILEPHONE = #{record.mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="record.batchnumber != null" >
        BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update YQGD_REQUESTDATA
    set ID = #{record.id,jdbcType=VARCHAR},
      OPENBANK = #{record.openbank,jdbcType=VARCHAR},
      CARDTYPE = #{record.cardtype,jdbcType=VARCHAR},
      CARDNO = #{record.cardno,jdbcType=VARCHAR},
      USRNAME = #{record.usrname,jdbcType=VARCHAR},
      CERTTYPE = #{record.certtype,jdbcType=VARCHAR},
      CERTID = #{record.certid,jdbcType=VARCHAR},
      TRANSAMT = #{record.transamt,jdbcType=VARCHAR},
      PURPOSE = #{record.purpose,jdbcType=VARCHAR},
      CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      RESPONSECODE = #{record.responsecode,jdbcType=VARCHAR},
      TRANSSTAT = #{record.transstat,jdbcType=VARCHAR},
      MESSAGE = #{record.message,jdbcType=VARCHAR},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      ADDIP = #{record.addip,jdbcType=VARCHAR},
      EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      EDITIP = #{record.editip,jdbcType=VARCHAR},
      ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      MOBILEPHONE = #{record.mobilephone,jdbcType=VARCHAR},
      BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.YqgdRequestdata" >
    update YQGD_REQUESTDATA
    <set >
      <if test="openbank != null" >
        OPENBANK = #{openbank,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null" >
        CARDTYPE = #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="usrname != null" >
        USRNAME = #{usrname,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null" >
        CERTTYPE = #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certid != null" >
        CERTID = #{certid,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null" >
        TRANSAMT = #{transamt,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        PURPOSE = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        CHULZT = #{chulzt,jdbcType=VARCHAR},
      </if>
      <if test="responsecode != null" >
        RESPONSECODE = #{responsecode,jdbcType=VARCHAR},
      </if>
      <if test="transstat != null" >
        TRANSSTAT = #{transstat,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        ADDWHO = #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        EDITWHO = #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        EDITIP = #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="batchnumber != null" >
        BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.YqgdRequestdata" >
    update YQGD_REQUESTDATA
    set OPENBANK = #{openbank,jdbcType=VARCHAR},
      CARDTYPE = #{cardtype,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      USRNAME = #{usrname,jdbcType=VARCHAR},
      CERTTYPE = #{certtype,jdbcType=VARCHAR},
      CERTID = #{certid,jdbcType=VARCHAR},
      TRANSAMT = #{transamt,jdbcType=VARCHAR},
      PURPOSE = #{purpose,jdbcType=VARCHAR},
      CHULZT = #{chulzt,jdbcType=VARCHAR},
      RESPONSECODE = #{responsecode,jdbcType=VARCHAR},
      TRANSSTAT = #{transstat,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{addwho,jdbcType=VARCHAR},
      ADDIP = #{addip,jdbcType=VARCHAR},
      EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{editwho,jdbcType=VARCHAR},
      EDITIP = #{editip,jdbcType=VARCHAR},
      ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>