<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<!-- 
	<plugins>
		指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,
		PostgreSQLDialect,MySQLDialect,DerbyDialect,HSQLDialect
		<plugin interceptor="com.chenxin.authority.common.mybatis.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.chenxin.authority.common.mybatis.dialect.OracleDialect"/>
		</plugin>
	</plugins>
		-->
	<mappers>
		<mapper resource="sqlmap/common_SqlMap.xml" />
		<mapper resource="sqlmap/BaseModulesMapper.xml" />
		<mapper resource="sqlmap/BaseRoleModuleMapper.xml" />
		<mapper resource="sqlmap/BaseRolesMapper.xml" />
		<mapper resource="sqlmap/BaseUserRoleMapper.xml" />
		<mapper resource="sqlmap/BaseUsersMapper.xml" />
		<mapper resource="sqlmap/BaseFieldsMapper.xml" />
		<mapper resource="sqlmap/WebMessageMapper.xml" />
		<mapper resource="sqlmap/CommonModulesMapper.xml" />
		<mapper resource="sqlmap/WebQudviewMapper.xml" />
		<!-- 温州交警网接口开发 -->
		<mapper resource="sqlmap/WzsjjcarregisterMapper.xml" />
		<mapper resource="sqlmap/WzsjjcarpeccancyMapper.xml" />
		<mapper resource="sqlmap/WzsjjSmssendMapper.xml" />
		<mapper resource="sqlmap/WzsjjSmsreturnMapper.xml" />
		<!-- 温州广电接口开发 -->
		<mapper resource="sqlmap/WzgdKehjbxxMapper.xml" />
		<mapper resource="sqlmap/WzgdShoulywnrMapper.xml" />
		<mapper resource="sqlmap/WzgdSmsreturnMapper.xml" />
		<mapper resource="sqlmap/WzgdSmssendMapper.xml" />
	</mappers>
</configuration>