<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<!-- 
	<plugins>
		指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,
		PostgreSQLDialect,MySQLDialect,DerbyDialect,HSQLDialect
		<plugin interceptor="com.chenxin.authority.common.mybatis.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.chenxin.authority.common.mybatis.dialect.OracleDialect"/>
		</plugin>
	</plugins>
		-->
	<mappers>
		<mapper resource="config/sqlmap/common_SqlMap.xml" />
		<mapper resource="config/sqlmap/BaseModulesMapper.xml" />
		<mapper resource="config/sqlmap/BaseRoleModuleMapper.xml" />
		<mapper resource="config/sqlmap/BaseRolesMapper.xml" />
		<mapper resource="config/sqlmap/BaseUserRoleMapper.xml" />
		<mapper resource="config/sqlmap/BaseUsersMapper.xml" />
		<mapper resource="config/sqlmap/BaseFieldsMapper.xml" />
		<mapper resource="config/sqlmap/WebMessageMapper.xml" />
		<mapper resource="config/sqlmap/CommonModulesMapper.xml" />
		<mapper resource="config/sqlmap/WebQudviewMapper.xml" />
		<mapper resource="config/sqlmap/BaseUsersWeixinMapper.xml" />
		
		<!-- 温州交警网接口开发 -->
		<mapper resource="config/sqlmap/WzsjjcarregisterMapper.xml" />
		<mapper resource="config/sqlmap/WzsjjcarpeccancyMapper.xml" />
		<mapper resource="config/sqlmap/WzsjjSmssendMapper.xml" />
		<mapper resource="config/sqlmap/WzsjjSmsreturnMapper.xml" />
		<!-- 温州广电接口开发 -->
		<mapper resource="config/sqlmap/WzgdKehjbxxMapper.xml" />
		<mapper resource="config/sqlmap/WzgdShoulywnrMapper.xml" />
		<mapper resource="config/sqlmap/WzgdSmsreturnMapper.xml" />
		<mapper resource="config/sqlmap/WzgdSmssendMapper.xml" />
		<!-- 乐清广电接口 -->
		<mapper resource="config/sqlmap/YqgdRequestdataMapper.xml" />
		<mapper resource="config/sqlmap/YqgdTradedataMapper.xml" />
		<mapper resource="config/sqlmap/YqgdResponsedataMapper.xml" />
		<mapper resource="config/sqlmap/YqgdSmsreturnMapper.xml" />
		<mapper resource="config/sqlmap/YqgdSmssendMapper.xml" />
		<mapper resource="config/sqlmap/YqgdBankcodeMapper.xml" />
		<mapper resource="config/sqlmap/YqgdRequestsmsMapper.xml"/>
	</mappers>
</configuration>