<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.YqgdRequestsmsMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.YqgdRequestsms" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    <result column="CHULZT" property="chulzt" jdbcType="VARCHAR" />
    <result column="ADDWHO" property="addwho" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
    <result column="EDITWHO" property="editwho" jdbcType="VARCHAR" />
    <result column="EDITTIME" property="edittime" jdbcType="TIMESTAMP" />
    <result column="EDITIP" property="editip" jdbcType="VARCHAR" />
    <result column="ISDISPLAY" property="isdisplay" jdbcType="VARCHAR" />
    <result column="MSG_ID" property="msgId" jdbcType="VARCHAR" />
    <result column="RESPONSE" property="response" jdbcType="VARCHAR" />
    <result column="BATCHNUMBER" property="batchnumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.phone != null" >
         and PHONE = #{condition.phone,jdbcType=VARCHAR}
      </if>
      <if test="condition.message != null" >
         and MESSAGE = #{condition.message,jdbcType=VARCHAR}
      </if>
      <if test="condition.chulzt != null" >
         and CHULZT = #{condition.chulzt,jdbcType=VARCHAR}
      </if>
      <if test="condition.addwho != null" >
         and ADDWHO = #{condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="condition.editwho != null" >
         and EDITWHO = #{condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.edittime != null" >
         and EDITTIME = #{condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.editip != null" >
         and EDITIP = #{condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="condition.isdisplay != null" >
         and ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="condition.msgId != null" >
         and MSG_ID = #{condition.msgId,jdbcType=VARCHAR}
      </if>
      <if test="condition.response != null" >
         and RESPONSE = #{condition.response,jdbcType=VARCHAR}
      </if>
      <if test="condition.batchnumber != null" >
         and BATCHNUMBER = #{condition.batchnumber,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.phone != null" >
         and PHONE = #{example.condition.phone,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.message != null" >
         and MESSAGE = #{example.condition.message,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.chulzt != null" >
         and CHULZT = #{example.condition.chulzt,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addwho != null" >
         and ADDWHO = #{example.condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.editwho != null" >
         and EDITWHO = #{example.condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.edittime != null" >
         and EDITTIME = #{example.condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.editip != null" >
         and EDITIP = #{example.condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isdisplay != null" >
         and ISDISPLAY = #{example.condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.msgId != null" >
         and MSG_ID = #{example.condition.msgId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.response != null" >
         and RESPONSE = #{example.condition.response,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.batchnumber != null" >
         and BATCHNUMBER = #{example.condition.batchnumber,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, PHONE, MESSAGE, CHULZT, ADDWHO, ADDTIME, ADDIP, EDITWHO, EDITTIME, EDITIP, ISDISPLAY, 
    MSG_ID, RESPONSE, BATCHNUMBER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from YQGD_REQUESTSMS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from YQGD_REQUESTSMS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from YQGD_REQUESTSMS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from YQGD_REQUESTSMS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.YqgdRequestsms" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into YQGD_REQUESTSMS (ID, PHONE, MESSAGE, 
      CHULZT, ADDWHO, ADDTIME, 
      ADDIP, EDITWHO, EDITTIME, 
      EDITIP, ISDISPLAY, MSG_ID, 
      RESPONSE, BATCHNUMBER)
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{chulzt,jdbcType=VARCHAR}, #{addwho,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{addip,jdbcType=VARCHAR}, #{editwho,jdbcType=VARCHAR}, #{edittime,jdbcType=TIMESTAMP}, 
      #{editip,jdbcType=VARCHAR}, #{isdisplay,jdbcType=VARCHAR}, #{msgId,jdbcType=VARCHAR}, 
      #{response,jdbcType=VARCHAR}, #{batchnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.YqgdRequestsms" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into YQGD_REQUESTSMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
      <if test="chulzt != null" >
        CHULZT,
      </if>
      <if test="addwho != null" >
        ADDWHO,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
      <if test="editwho != null" >
        EDITWHO,
      </if>
      <if test="edittime != null" >
        EDITTIME,
      </if>
      <if test="editip != null" >
        EDITIP,
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY,
      </if>
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="response != null" >
        RESPONSE,
      </if>
      <if test="batchnumber != null" >
        BATCHNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        #{chulzt,jdbcType=VARCHAR},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="editwho != null" >
        #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editip != null" >
        #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        #{response,jdbcType=VARCHAR},
      </if>
      <if test="batchnumber != null" >
        #{batchnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from YQGD_REQUESTSMS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update YQGD_REQUESTSMS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        MESSAGE = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.chulzt != null" >
        CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      </if>
      <if test="record.addwho != null" >
        ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.editwho != null" >
        EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      </if>
      <if test="record.edittime != null" >
        EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editip != null" >
        EDITIP = #{record.editip,jdbcType=VARCHAR},
      </if>
      <if test="record.isdisplay != null" >
        ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.msgId != null" >
        MSG_ID = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.response != null" >
        RESPONSE = #{record.response,jdbcType=VARCHAR},
      </if>
      <if test="record.batchnumber != null" >
        BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update YQGD_REQUESTSMS
    set ID = #{record.id,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      MESSAGE = #{record.message,jdbcType=VARCHAR},
      CHULZT = #{record.chulzt,jdbcType=VARCHAR},
      ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDIP = #{record.addip,jdbcType=VARCHAR},
      EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      EDITIP = #{record.editip,jdbcType=VARCHAR},
      ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      MSG_ID = #{record.msgId,jdbcType=VARCHAR},
      RESPONSE = #{record.response,jdbcType=VARCHAR},
      BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.YqgdRequestsms" >
    update YQGD_REQUESTSMS
    <set >
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="chulzt != null" >
        CHULZT = #{chulzt,jdbcType=VARCHAR},
      </if>
      <if test="addwho != null" >
        ADDWHO = #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="editwho != null" >
        EDITWHO = #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editip != null" >
        EDITIP = #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null" >
        MSG_ID = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        RESPONSE = #{response,jdbcType=VARCHAR},
      </if>
      <if test="batchnumber != null" >
        BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.YqgdRequestsms" >
    update YQGD_REQUESTSMS
    set PHONE = #{phone,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR},
      CHULZT = #{chulzt,jdbcType=VARCHAR},
      ADDWHO = #{addwho,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDIP = #{addip,jdbcType=VARCHAR},
      EDITWHO = #{editwho,jdbcType=VARCHAR},
      EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      EDITIP = #{editip,jdbcType=VARCHAR},
      ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      MSG_ID = #{msgId,jdbcType=VARCHAR},
      RESPONSE = #{response,jdbcType=VARCHAR},
      BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>