<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.YqgdTradedataMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.YqgdTradedata" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MERID" property="merid" jdbcType="VARCHAR" />
    <result column="TRANSDATE" property="transdate" jdbcType="VARCHAR" />
    <result column="ORDERNO" property="orderno" jdbcType="VARCHAR" />
    <result column="TRANSTYPE" property="transtype" jdbcType="VARCHAR" />
    <result column="OPENBANKID" property="openbankid" jdbcType="VARCHAR" />
    <result column="CARDTYPE" property="cardtype" jdbcType="VARCHAR" />
    <result column="CARDNO" property="cardno" jdbcType="VARCHAR" />
    <result column="USRNAME" property="usrname" jdbcType="VARCHAR" />
    <result column="CERTTYPE" property="certtype" jdbcType="VARCHAR" />
    <result column="CERTID" property="certid" jdbcType="VARCHAR" />
    <result column="CURYID" property="curyid" jdbcType="VARCHAR" />
    <result column="TRANSAMT" property="transamt" jdbcType="VARCHAR" />
    <result column="PURPOSE" property="purpose" jdbcType="VARCHAR" />
    <result column="PRIV1" property="priv1" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="GATEID" property="gateid" jdbcType="VARCHAR" />
    <result column="CHKVALUE" property="chkvalue" jdbcType="VARCHAR" />
    <result column="RESPONSECODE" property="responsecode" jdbcType="VARCHAR" />
    <result column="TRANSSTAT" property="transstat" jdbcType="VARCHAR" />
    <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDWHO" property="addwho" jdbcType="VARCHAR" />
    <result column="ADDIP" property="addip" jdbcType="VARCHAR" />
    <result column="EDITTIME" property="edittime" jdbcType="TIMESTAMP" />
    <result column="EDITWHO" property="editwho" jdbcType="VARCHAR" />
    <result column="EDITIP" property="editip" jdbcType="VARCHAR" />
    <result column="ISDISPLAY" property="isdisplay" jdbcType="VARCHAR" />
    <result column="REQUESTDATAID" property="requestdataid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.merid != null" >
         and MERID = #{condition.merid,jdbcType=VARCHAR}
      </if>
      <if test="condition.transdate != null" >
         and TRANSDATE = #{condition.transdate,jdbcType=VARCHAR}
      </if>
      <if test="condition.orderno != null" >
         and ORDERNO = #{condition.orderno,jdbcType=VARCHAR}
      </if>
      <if test="condition.transtype != null" >
         and TRANSTYPE = #{condition.transtype,jdbcType=VARCHAR}
      </if>
      <if test="condition.openbankid != null" >
         and OPENBANKID = #{condition.openbankid,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardtype != null" >
         and CARDTYPE = #{condition.cardtype,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardno != null" >
         and CARDNO = #{condition.cardno,jdbcType=VARCHAR}
      </if>
      <if test="condition.usrname != null" >
         and USRNAME = #{condition.usrname,jdbcType=VARCHAR}
      </if>
      <if test="condition.certtype != null" >
         and CERTTYPE = #{condition.certtype,jdbcType=VARCHAR}
      </if>
      <if test="condition.certid != null" >
         and CERTID = #{condition.certid,jdbcType=VARCHAR}
      </if>
      <if test="condition.curyid != null" >
         and CURYID = #{condition.curyid,jdbcType=VARCHAR}
      </if>
      <if test="condition.transamt != null" >
         and TRANSAMT = #{condition.transamt,jdbcType=VARCHAR}
      </if>
      <if test="condition.purpose != null" >
         and PURPOSE = #{condition.purpose,jdbcType=VARCHAR}
      </if>
      <if test="condition.priv1 != null" >
         and PRIV1 = #{condition.priv1,jdbcType=VARCHAR}
      </if>
      <if test="condition.version != null" >
         and VERSION = #{condition.version,jdbcType=VARCHAR}
      </if>
      <if test="condition.gateid != null" >
         and GATEID = #{condition.gateid,jdbcType=VARCHAR}
      </if>
      <if test="condition.chkvalue != null" >
         and CHKVALUE = #{condition.chkvalue,jdbcType=VARCHAR}
      </if>
      <if test="condition.responsecode != null" >
         and RESPONSECODE = #{condition.responsecode,jdbcType=VARCHAR}
      </if>
      <if test="condition.transstat != null" >
         and TRANSSTAT = #{condition.transstat,jdbcType=VARCHAR}
      </if>
      <if test="condition.message != null" >
         and MESSAGE = #{condition.message,jdbcType=VARCHAR}
      </if>
      <if test="condition.addtime != null" >
         and ADDTIME = #{condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.addwho != null" >
         and ADDWHO = #{condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.addip != null" >
         and ADDIP = #{condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="condition.edittime != null" >
         and EDITTIME = #{condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.editwho != null" >
         and EDITWHO = #{condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="condition.editip != null" >
         and EDITIP = #{condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="condition.isdisplay != null" >
         and ISDISPLAY = #{condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="condition.requestdataid != null" >
         and REQUESTDATAID = #{condition.requestdataid,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.merid != null" >
         and MERID = #{example.condition.merid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.transdate != null" >
         and TRANSDATE = #{example.condition.transdate,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.orderno != null" >
         and ORDERNO = #{example.condition.orderno,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.transtype != null" >
         and TRANSTYPE = #{example.condition.transtype,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.openbankid != null" >
         and OPENBANKID = #{example.condition.openbankid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cardtype != null" >
         and CARDTYPE = #{example.condition.cardtype,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.cardno != null" >
         and CARDNO = #{example.condition.cardno,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.usrname != null" >
         and USRNAME = #{example.condition.usrname,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.certtype != null" >
         and CERTTYPE = #{example.condition.certtype,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.certid != null" >
         and CERTID = #{example.condition.certid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.curyid != null" >
         and CURYID = #{example.condition.curyid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.transamt != null" >
         and TRANSAMT = #{example.condition.transamt,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.purpose != null" >
         and PURPOSE = #{example.condition.purpose,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.priv1 != null" >
         and PRIV1 = #{example.condition.priv1,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.version != null" >
         and VERSION = #{example.condition.version,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.gateid != null" >
         and GATEID = #{example.condition.gateid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.chkvalue != null" >
         and CHKVALUE = #{example.condition.chkvalue,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.responsecode != null" >
         and RESPONSECODE = #{example.condition.responsecode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.transstat != null" >
         and TRANSSTAT = #{example.condition.transstat,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.message != null" >
         and MESSAGE = #{example.condition.message,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addtime != null" >
         and ADDTIME = #{example.condition.addtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.addwho != null" >
         and ADDWHO = #{example.condition.addwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.addip != null" >
         and ADDIP = #{example.condition.addip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.edittime != null" >
         and EDITTIME = #{example.condition.edittime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.editwho != null" >
         and EDITWHO = #{example.condition.editwho,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.editip != null" >
         and EDITIP = #{example.condition.editip,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isdisplay != null" >
         and ISDISPLAY = #{example.condition.isdisplay,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.requestdataid != null" >
         and REQUESTDATAID = #{example.condition.requestdataid,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    ID, MERID, TRANSDATE, ORDERNO, TRANSTYPE, OPENBANKID, CARDTYPE, CARDNO, USRNAME, 
    CERTTYPE, CERTID, CURYID, TRANSAMT, PURPOSE, PRIV1, VERSION, GATEID, CHKVALUE, RESPONSECODE, 
    TRANSSTAT, MESSAGE, ADDTIME, ADDWHO, ADDIP, EDITTIME, EDITWHO, EDITIP, ISDISPLAY, 
    REQUESTDATAID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from YQGD_TRADEDATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from YQGD_TRADEDATA
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from YQGD_TRADEDATA
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authority.pojo.Criteria" >
    delete from YQGD_TRADEDATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authority.pojo.YqgdTradedata" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into YQGD_TRADEDATA (ID, MERID, TRANSDATE, 
      ORDERNO, TRANSTYPE, OPENBANKID, 
      CARDTYPE, CARDNO, USRNAME, 
      CERTTYPE, CERTID, CURYID, 
      TRANSAMT, PURPOSE, PRIV1, 
      VERSION, GATEID, CHKVALUE, 
      RESPONSECODE, TRANSSTAT, MESSAGE, 
      ADDTIME, ADDWHO, ADDIP, 
      EDITTIME, EDITWHO, EDITIP, 
      ISDISPLAY, REQUESTDATAID)
    values (#{id,jdbcType=VARCHAR}, #{merid,jdbcType=VARCHAR}, #{transdate,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=VARCHAR}, #{transtype,jdbcType=VARCHAR}, #{openbankid,jdbcType=VARCHAR}, 
      #{cardtype,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR}, #{usrname,jdbcType=VARCHAR}, 
      #{certtype,jdbcType=VARCHAR}, #{certid,jdbcType=VARCHAR}, #{curyid,jdbcType=VARCHAR}, 
      #{transamt,jdbcType=VARCHAR}, #{purpose,jdbcType=VARCHAR}, #{priv1,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{gateid,jdbcType=VARCHAR}, #{chkvalue,jdbcType=VARCHAR}, 
      #{responsecode,jdbcType=VARCHAR}, #{transstat,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{addwho,jdbcType=VARCHAR}, #{addip,jdbcType=VARCHAR}, 
      #{edittime,jdbcType=TIMESTAMP}, #{editwho,jdbcType=VARCHAR}, #{editip,jdbcType=VARCHAR}, 
      #{isdisplay,jdbcType=VARCHAR}, #{requestdataid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.authority.pojo.YqgdTradedata" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into YQGD_TRADEDATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="merid != null" >
        MERID,
      </if>
      <if test="transdate != null" >
        TRANSDATE,
      </if>
      <if test="orderno != null" >
        ORDERNO,
      </if>
      <if test="transtype != null" >
        TRANSTYPE,
      </if>
      <if test="openbankid != null" >
        OPENBANKID,
      </if>
      <if test="cardtype != null" >
        CARDTYPE,
      </if>
      <if test="cardno != null" >
        CARDNO,
      </if>
      <if test="usrname != null" >
        USRNAME,
      </if>
      <if test="certtype != null" >
        CERTTYPE,
      </if>
      <if test="certid != null" >
        CERTID,
      </if>
      <if test="curyid != null" >
        CURYID,
      </if>
      <if test="transamt != null" >
        TRANSAMT,
      </if>
      <if test="purpose != null" >
        PURPOSE,
      </if>
      <if test="priv1 != null" >
        PRIV1,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="gateid != null" >
        GATEID,
      </if>
      <if test="chkvalue != null" >
        CHKVALUE,
      </if>
      <if test="responsecode != null" >
        RESPONSECODE,
      </if>
      <if test="transstat != null" >
        TRANSSTAT,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
      <if test="addwho != null" >
        ADDWHO,
      </if>
      <if test="addip != null" >
        ADDIP,
      </if>
      <if test="edittime != null" >
        EDITTIME,
      </if>
      <if test="editwho != null" >
        EDITWHO,
      </if>
      <if test="editip != null" >
        EDITIP,
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY,
      </if>
      <if test="requestdataid != null" >
        REQUESTDATAID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="merid != null" >
        #{merid,jdbcType=VARCHAR},
      </if>
      <if test="transdate != null" >
        #{transdate,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="transtype != null" >
        #{transtype,jdbcType=VARCHAR},
      </if>
      <if test="openbankid != null" >
        #{openbankid,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null" >
        #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="usrname != null" >
        #{usrname,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null" >
        #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certid != null" >
        #{certid,jdbcType=VARCHAR},
      </if>
      <if test="curyid != null" >
        #{curyid,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null" >
        #{transamt,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="priv1 != null" >
        #{priv1,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="gateid != null" >
        #{gateid,jdbcType=VARCHAR},
      </if>
      <if test="chkvalue != null" >
        #{chkvalue,jdbcType=VARCHAR},
      </if>
      <if test="responsecode != null" >
        #{responsecode,jdbcType=VARCHAR},
      </if>
      <if test="transstat != null" >
        #{transstat,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="requestdataid != null" >
        #{requestdataid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from YQGD_TRADEDATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update YQGD_TRADEDATA
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.merid != null" >
        MERID = #{record.merid,jdbcType=VARCHAR},
      </if>
      <if test="record.transdate != null" >
        TRANSDATE = #{record.transdate,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null" >
        ORDERNO = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.transtype != null" >
        TRANSTYPE = #{record.transtype,jdbcType=VARCHAR},
      </if>
      <if test="record.openbankid != null" >
        OPENBANKID = #{record.openbankid,jdbcType=VARCHAR},
      </if>
      <if test="record.cardtype != null" >
        CARDTYPE = #{record.cardtype,jdbcType=VARCHAR},
      </if>
      <if test="record.cardno != null" >
        CARDNO = #{record.cardno,jdbcType=VARCHAR},
      </if>
      <if test="record.usrname != null" >
        USRNAME = #{record.usrname,jdbcType=VARCHAR},
      </if>
      <if test="record.certtype != null" >
        CERTTYPE = #{record.certtype,jdbcType=VARCHAR},
      </if>
      <if test="record.certid != null" >
        CERTID = #{record.certid,jdbcType=VARCHAR},
      </if>
      <if test="record.curyid != null" >
        CURYID = #{record.curyid,jdbcType=VARCHAR},
      </if>
      <if test="record.transamt != null" >
        TRANSAMT = #{record.transamt,jdbcType=VARCHAR},
      </if>
      <if test="record.purpose != null" >
        PURPOSE = #{record.purpose,jdbcType=VARCHAR},
      </if>
      <if test="record.priv1 != null" >
        PRIV1 = #{record.priv1,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.gateid != null" >
        GATEID = #{record.gateid,jdbcType=VARCHAR},
      </if>
      <if test="record.chkvalue != null" >
        CHKVALUE = #{record.chkvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.responsecode != null" >
        RESPONSECODE = #{record.responsecode,jdbcType=VARCHAR},
      </if>
      <if test="record.transstat != null" >
        TRANSSTAT = #{record.transstat,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        MESSAGE = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addwho != null" >
        ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      </if>
      <if test="record.addip != null" >
        ADDIP = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.edittime != null" >
        EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editwho != null" >
        EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      </if>
      <if test="record.editip != null" >
        EDITIP = #{record.editip,jdbcType=VARCHAR},
      </if>
      <if test="record.isdisplay != null" >
        ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.requestdataid != null" >
        REQUESTDATAID = #{record.requestdataid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update YQGD_TRADEDATA
    set ID = #{record.id,jdbcType=VARCHAR},
      MERID = #{record.merid,jdbcType=VARCHAR},
      TRANSDATE = #{record.transdate,jdbcType=VARCHAR},
      ORDERNO = #{record.orderno,jdbcType=VARCHAR},
      TRANSTYPE = #{record.transtype,jdbcType=VARCHAR},
      OPENBANKID = #{record.openbankid,jdbcType=VARCHAR},
      CARDTYPE = #{record.cardtype,jdbcType=VARCHAR},
      CARDNO = #{record.cardno,jdbcType=VARCHAR},
      USRNAME = #{record.usrname,jdbcType=VARCHAR},
      CERTTYPE = #{record.certtype,jdbcType=VARCHAR},
      CERTID = #{record.certid,jdbcType=VARCHAR},
      CURYID = #{record.curyid,jdbcType=VARCHAR},
      TRANSAMT = #{record.transamt,jdbcType=VARCHAR},
      PURPOSE = #{record.purpose,jdbcType=VARCHAR},
      PRIV1 = #{record.priv1,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      GATEID = #{record.gateid,jdbcType=VARCHAR},
      CHKVALUE = #{record.chkvalue,jdbcType=VARCHAR},
      RESPONSECODE = #{record.responsecode,jdbcType=VARCHAR},
      TRANSSTAT = #{record.transstat,jdbcType=VARCHAR},
      MESSAGE = #{record.message,jdbcType=VARCHAR},
      ADDTIME = #{record.addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{record.addwho,jdbcType=VARCHAR},
      ADDIP = #{record.addip,jdbcType=VARCHAR},
      EDITTIME = #{record.edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{record.editwho,jdbcType=VARCHAR},
      EDITIP = #{record.editip,jdbcType=VARCHAR},
      ISDISPLAY = #{record.isdisplay,jdbcType=VARCHAR},
      REQUESTDATAID = #{record.requestdataid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authority.pojo.YqgdTradedata" >
    update YQGD_TRADEDATA
    <set >
      <if test="merid != null" >
        MERID = #{merid,jdbcType=VARCHAR},
      </if>
      <if test="transdate != null" >
        TRANSDATE = #{transdate,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        ORDERNO = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="transtype != null" >
        TRANSTYPE = #{transtype,jdbcType=VARCHAR},
      </if>
      <if test="openbankid != null" >
        OPENBANKID = #{openbankid,jdbcType=VARCHAR},
      </if>
      <if test="cardtype != null" >
        CARDTYPE = #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="usrname != null" >
        USRNAME = #{usrname,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null" >
        CERTTYPE = #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certid != null" >
        CERTID = #{certid,jdbcType=VARCHAR},
      </if>
      <if test="curyid != null" >
        CURYID = #{curyid,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null" >
        TRANSAMT = #{transamt,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        PURPOSE = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="priv1 != null" >
        PRIV1 = #{priv1,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="gateid != null" >
        GATEID = #{gateid,jdbcType=VARCHAR},
      </if>
      <if test="chkvalue != null" >
        CHKVALUE = #{chkvalue,jdbcType=VARCHAR},
      </if>
      <if test="responsecode != null" >
        RESPONSECODE = #{responsecode,jdbcType=VARCHAR},
      </if>
      <if test="transstat != null" >
        TRANSSTAT = #{transstat,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addwho != null" >
        ADDWHO = #{addwho,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        ADDIP = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="editwho != null" >
        EDITWHO = #{editwho,jdbcType=VARCHAR},
      </if>
      <if test="editip != null" >
        EDITIP = #{editip,jdbcType=VARCHAR},
      </if>
      <if test="isdisplay != null" >
        ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      </if>
      <if test="requestdataid != null" >
        REQUESTDATAID = #{requestdataid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authority.pojo.YqgdTradedata" >
    update YQGD_TRADEDATA
    set MERID = #{merid,jdbcType=VARCHAR},
      TRANSDATE = #{transdate,jdbcType=VARCHAR},
      ORDERNO = #{orderno,jdbcType=VARCHAR},
      TRANSTYPE = #{transtype,jdbcType=VARCHAR},
      OPENBANKID = #{openbankid,jdbcType=VARCHAR},
      CARDTYPE = #{cardtype,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      USRNAME = #{usrname,jdbcType=VARCHAR},
      CERTTYPE = #{certtype,jdbcType=VARCHAR},
      CERTID = #{certid,jdbcType=VARCHAR},
      CURYID = #{curyid,jdbcType=VARCHAR},
      TRANSAMT = #{transamt,jdbcType=VARCHAR},
      PURPOSE = #{purpose,jdbcType=VARCHAR},
      PRIV1 = #{priv1,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      GATEID = #{gateid,jdbcType=VARCHAR},
      CHKVALUE = #{chkvalue,jdbcType=VARCHAR},
      RESPONSECODE = #{responsecode,jdbcType=VARCHAR},
      TRANSSTAT = #{transstat,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDWHO = #{addwho,jdbcType=VARCHAR},
      ADDIP = #{addip,jdbcType=VARCHAR},
      EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      EDITWHO = #{editwho,jdbcType=VARCHAR},
      EDITIP = #{editip,jdbcType=VARCHAR},
      ISDISPLAY = #{isdisplay,jdbcType=VARCHAR},
      REQUESTDATAID = #{requestdataid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>